<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-twilio-common" version="0.1.7" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TwilioCommon</name>
    <author>Twilio</author>
    <keywords>twilio,twilio-common,accessmanager</keywords>
    <license>BSD-3-Clause</license>
    <js-module name="TwilioCommonCore" src="www/twilio-common.min.js">
        <clobbers target="TwilioCommonCore" />
    </js-module>
    <js-module name="TwilioCommon" src="www/TwilioCommon.js">
        <clobbers target="TwilioCommon" />
    </js-module>
</plugin>
